@import './fonts/stylesheet.css';

$grey: #D2D2DB;
$beige: #C3A78E;
$brown: #744037;
$darkBrown: #240401;
$tr-time: .3s;

html {
	min-height: 100%;
	height: 100%;
}

body {
	min-width: 320px;
    max-width: 1920px;
	height: 100%;
	margin: 0 auto;
	font-family: "Circe";
	font-weight: 400;

    &.opened {
        overflow: hidden;
    }
}

.container {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
}

.section-title {
    font-weight: 800;
    font-size: 42px;
    line-height: 120%;
    color: $brown;
    margin-bottom: 43px;
}

.section {
    padding: 25px 0;
}

p, a, h4, h2, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.btn {
    background: linear-gradient(12.18deg, #743837 -18.77%, #C3A78E 221.97%);
    box-shadow: 0px 2px 0px #6C3232, 0px 5px 10px rgba(116, 64, 55, 0.75);
    border-radius: 25px;
    padding: 17px 60px;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    display: inline-flex;
    align-items: baseline;
    transition: $tr-time;

    svg {
        margin-right: 10px;
    }

    &:hover {
        background: linear-gradient(185.84deg, #6C3232 4.67%, #7F4743 95.39%);
        box-shadow: 0px 1px 0px #6C3232, 0px 2px 10px rgba(116, 64, 55, 0.6), inset 0px 4px 9px #552727;
    }

    &:active {
        background: linear-gradient(187.53deg, #AC8E73 25.18%, #C3A78E 94.2%);
        box-shadow: 0px 1px 0px #9F7D5E, 0px 2px 10px #BA9A7D, inset 0px 4px 9px #97806B;
    }
}

// Шапка
.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 10;
    background: #D2D2DB;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &-logo {
        width: 157px;
        height: 100px;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-menu {
        & > ul {
            display: flex;

            a {
                font-size: 20px;
                line-height: 150%;
                color: #240401;
                opacity: 0.5;
                transition: $tr-time;

                &:hover {
                    opacity: 1;
                }
            }

            li:not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    &-social {
        display: flex;
        &__item {
            width: 30px;
            height: 30px;
            background: $brown;
            border: 2px solid $brown;
            display: flex; 
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            transition: $tr-time;

            svg {
                fill: #fff;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }

            &:hover {
                background: #C3A78E;
                border-color: #C3A78E;
            }
        }
    }

    &-contact {
        &__phone {
            font-weight: 800;
            font-size: 24px;
            line-height: 100%;
            color: $brown;
            margin-bottom: 5px;
            text-align: end;
            display: block;
            transition: $tr-time;

            &:hover {
                color: #C3A78E;
            }
        }

        &__address {
            font-size: 16px;
            line-height: 100%;
            color: $darkBrown;
            opacity: 0.5;
        }
    }
}

// Мобильное меню
.mobile-menu-open {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    width: 30px;
    height: 18px;
    position: relative;
	$this: &;
	&__button {
		width: 30px;
		height: 2px;
		background-color: $brown;
		&:after {
			content: "";
			display: block;
			width: 100%;
			left: 0;
			height: 2px;
			background-color: $brown;
			position: absolute;
			top: 0;
			transition: .3s;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			left: 0;
			height: 2px;
			background-color: $brown;
			position: absolute;
			bottom: 0;
			transition: .3s;
		}
	}
	&.active {
		#{ $this }__button {
			background-color: transparent;
			&:after {
				transform: rotate(-45deg);
				bottom: 0;
				margin: auto;
			}
			&:before {
				transform: rotate(45deg);
				top: 0;
				margin: auto;
			}
		}
	}
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #D2D2DB;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    left: 100%;
    transition: .3s linear;
    padding-top: 76px;

	.menu__wrapper {
		height: calc(100% - 110px);
    	overflow: auto;
	}
	
	&.opened, &.active {
		left: 0;
		display: block;
	}
	li {
		padding: 0 15px;
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			transition: .2s;
			padding: 10px 0;
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
			color: $brown;
		}

		&.menu-item {
			&:first-child {
				padding-top: 20px;
			}
		}
	}

	.button-open-modal  {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// Главный экран
.section-banner {
    height: 940px;
    margin-bottom: 25px;
}

.banner {
    &-slider {
        height: 100%;

        &__slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;

            &-content {
                width: 40%;
            }

            &-title {
                font-weight: 800;
                font-size: 42px;
                line-height: 120%;
                color: $brown;
                margin-bottom: 10px;
            }

            &-text {
                font-size: 16px;
                line-height: 140%;
                color: $brown;
                opacity: 0.5;
                margin-bottom: 40px;
            }
        }
    }
}

// Услуги
.section-service {
    position: relative;
}

.section-parallax {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: -1;

    img {
        width: 100%;
    }
}

.service-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 46px 30px;
    &__item {
        cursor: pointer;
        &-decore {
            position: absolute;
            top: 0;
            right: 0;
            width: 75px;
            height: 74px;
            transition: $tr-time;
            fill: #ECECF9;
            stroke: #ECECF9;
        }

        &-image {
            position: relative;
            padding-bottom: 100%;
            background: $grey;
            border-radius: 25px;
            overflow: hidden; 
            transition: $tr-time;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }

            &:after {
                content: "";
                position: absolute;
                top: 41%;
                left: -9%;
                background: #C3C4D0;
                border-radius: 100%;
                width: 118%;
                height: 118%;
                z-index: 1;
                transition: $tr-time;
            }
        }

        &-info {
            padding: 14px 24px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }

        &-title {
            font-size: 24px;
            line-height: 150%;
            color: $darkBrown;
            flex: 1 100%;
        }

        &-price {
            font-weight: 800;
            font-size: 24px;
            line-height: 150%;
            color: $darkBrown;
        }

        &-arrow {
            width: 16px;
            height: 16px;
            fill: $brown;
            transition: $tr-time;
        }

        $this:&;

        &:hover {
            #{$this}-image {
                background: $brown;

                &:after {
                    background: $beige;
                    top: 20%;
                }
            }

            #{$this}-decore {
                fill: $beige;
                stroke: $beige;
            }

            #{$this}-arrow {
                transform: translate(5px, 0);
            }
        }
    }
}

// Прайс
.price-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

    &__item {
        padding: 34px 35px 62px;
        border: 4px dashed #D2D2DB;
        border-radius: 25px;
        position: relative;
        transition: $tr-time;

        $this:&;

        &-image {
            width: 110px;
            max-height: 97px;
            
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        &-title {
            margin: 54px 0 20px;
            font-weight: 800;
            font-size: 24px;
            line-height: 130%;
            color: $darkBrown;
        }

        &-text {
            font-size: 16px;
            line-height: 150%;
            color: $darkBrown;
        }

        &-link {
            position: absolute;
            bottom: 27px;
            right: 28px;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $grey;
            opacity: 0;
            transition: $tr-time;

            svg {
                width: 28px;
                height: 28px;
                stroke: #FFFFFF;
            }
        }

        &:hover {
            background: #F6F6F8;
            border-color: #F6F6F8;
            #{$this}-link {
                opacity: 1;
            }
        }
    }
}

// Модалка
.modal {
    position: fixed;
    top: -300%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(119, 119, 119, 0.8);
    overflow: auto;
    z-index: 100;
    visibility: hidden;
    transition-duration: 1s;
    $this:&;
    &.modal-open {
        top: 0;
        visibility: visible;
    }

    &__wrapper {
        width: 772px;
        max-width: calc(100% - 30px);
        margin: 134px auto;
        background-color: #fff;
        opacity: 1;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
    }

    &__body {
        padding: 44px 0 0;
    }

    &__content {
        padding: 0 49px 26px 71px;
        display: flex;
        flex-wrap: wrap;
    }

    &__image {
        width: 36%;
        height: 100%;
        padding-bottom: 36%;
        position: relative;
        margin-right: 27px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__info {
        width: calc(64% - 27px);
    }

    &__title {
        font-weight: 800;
        font-size: 42px;
        line-height: 120%;
        color: $brown;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 16px;
        line-height: 140%;
        color: #240401;
        opacity: 0.5;

        p, a, li {
            font-size: 16px;
            line-height: 140%;
            color: $darkBrown;
            opacity: 0.5;
        }

        ul {
            padding-left: 10px;

            li {
                position: relative;
                display: block;
                padding-left: 15px;

                &::before {
                    content: "•";
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 0;
                    color: $darkBrown;
                }
            }
        }
    }

    &__price {
        &-list {
            flex: 0 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }

        &-title {
            font-weight: 800;
            font-size: 16px;
            line-height: 150%;
            color: $brown;
            margin-bottom: 10px;
        }

        &-text {
            font-weight: 800;
            font-size: 24px;
            line-height: 150%;
            color: $darkBrown;
        }
    }

    &-form {
        padding: 29px 70px 46px;
        background: #D2D2DB;

        &__title {
            font-weight: 800;
            font-size: 32px;
            line-height: 120%;
            color: $brown;
            margin-bottom: 35px;
        }

        &__field-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 29px;
            margin-bottom: 26px;
        }

        &__btn-wrap {
            display: flex;
            justify-content: space-between;
        }

        &__button {
            height: 100%;
        }

        &__personal {
            width: 52%;
            padding-right: 76px;
            font-weight: 350;
            font-size: 16px;
            line-height: 100%;
            color: $darkBrown;
            opacity: 0.5;
        }
    }
}

.modal-field {
    width: 100%;

    &__input {
        width: 100%;
        background: transparent;
        font-size: 16px;
        line-height: 100%;
        color: $brown;
        border: none;
        border-bottom: 1px solid rgba(36, 4, 1, 0.25);
        padding-bottom: 9px;
        transition: $tr-time;

        &::placeholder {
            font-size: 16px;
            line-height: 100%;
            color: $darkBrown;
            opacity: 0.25;
            transition: $tr-time;
        }

        &:focus {
            outline: none;
            border-bottom: 1px solid #743837;
            &::placeholder {
                opacity: 1;
            }
        }
    }
}

.close-modal {
    display: block;
    cursor: pointer;
    margin-left: auto;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 25px;
    padding: 0;
    $this:&;
    &__svg {
        width: 100%;
        height: 100%;
        transition: .2s;
        stroke: $grey;
        cursor: pointer;
    }
    &:hover {
        #{ $this }__svg {
            stroke: $brown;
        }
    }
}

@media(max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 21px;
    }

	.mobile-menu-open {
		display: flex;
	}

    .header {
        &-wrap {
            padding: 10px 0;
        }

        &-menu {
            display: none;
        }

        &-contact--desktop,
        &-social--desktop {
            display: none;
        }

        &-logo {
            width: 103px;
            height: 66px;
        }

        &-social {
            justify-content: center;
            margin-top: 50px;
        }

        &-contact {
            margin-top: 20px;
    
            &__phone, &__address {
                text-align: center;
            }
        }
    }
}

@media (max-width: 992px) {
    .service-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .banner-slider__slide-content {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .service-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .price-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-banner {
        height: 600px;
    }

    .modal {
        &__content {
            padding-left: 21px;
            padding-right: 21px;
        }

        &-form {
            padding-left: 21px;
            padding-right: 21px;
        }
    }
}

@media (max-width: 567px) {
    .btn {
        display: flex;
        justify-content: center;
    }

    .service-list {
        grid-template-columns: 1fr;
    }

    .price-list {
        grid-template-columns: 1fr;

        &__item {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .banner-slider {
        &__slide {
            background-position: center right 26%;
            align-items: flex-end;

            &-content {
                width: 100%;
                padding-bottom: 30px;
            }

            &-title {
                font-size: 24px;
            }

            &-text {
                font-size: 14px;
                margin-bottom: 20px;
            }

            &-content {
                background: rgba(246, 246, 248, 0.8);
                border-radius: 25px;
                padding: 20px;
                width: calc(100% - 20px);
                margin-bottom: 5px;
                margin-left: -10px;
            }
        }
    }

    .modal {
        &__wrapper {
            margin: 21px auto;
        }

        &__image {
            width: 70%;
            padding-bottom: 70%;
            margin: 0 auto;
        }

        &__info {
            width: 100%;
            order: -1;
            margin-bottom: 30px;
        }

        &-form {
            &__btn-wrap {
                flex-direction: column;
            }

            &__button {
                order: -1;
            }

            &__personal {
                width: 100%;
                text-align: center;
                padding-right: 0;
                margin-top: 14px;
            }

            &__field-wrap {
                grid-template-columns: 1fr;
            }
        }

        &__title {
            font-size: 30px;
        }

        &__price {
            &-list {
                flex-direction: column;
            }

            &-item {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        } 
    }
}